:root{
  --ymaxpurple: #563077;
  --ymaxlighterpurple:  hsl(272, 42%, 60%);
  background-image: url("background.png") !important;
  font-family: 'League Spartan', sans-serif;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

h1, h2, h3 {
    color: #ffffff;
}

p{
  font-family: 'League Spartan', sans-serif;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.header {
    background: #35424a;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

.footer {
    background: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.article-card {
    background: #000000;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0;
    transition: box-shadow 0.3s;
}

.article-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.article-title {
    font-size: 1.5em;
    margin: 0;
}

.article-excerpt {
    font-size: 1em;
    color: #666;
}

.link {
    text-decoration: none;
    color: #2cabff;
}

a:visited{
  color: var(--ymaxlighterpurple);
}

.link:hover {
    text-decoration: underline;
}